@using News.ViewModel.Common;
@model PagedResult<News.ViewModel.Catalog.Product.ProductViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script>
        setTimeout(function () {
            $('#msgAlert').fadeOut('slow');
        }, 2000);
    </script>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <div class="col-md-6 col-xs-12">
        <form asp-action="Index" method="get">
            <div class="row">
                <div class="col-md-8">
                    <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                </div>
                <div class="cold-md-3">
                    <button type="submit" class="btn btn-primary">Tìm</button>
                    <button type="button" onclick="window.location.href='/News/Index'" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </form>
    </div>
</p>
<table class="table">
    @if (ViewBag.SuccessMsg != null)
    {
        <div id="msgAlert" class="alert alert-success" role="alert">
            @ViewBag.SuccessMsg
        </div>
    }
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Local
            </th>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                DateCreated
            </th>
            <th>
                Status
            </th>
            <th>
                Images
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <img src="https://localhost:5001/user-content/@item.Images" width="60" height="60">
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |      
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("Add Image", "AddImages", new { productId = item.Id }) |
                @Html.ActionLink("Set Image", "SetImage", new { productId = item.Id }) |
                @Html.ActionLink("Image", "GetListImage", new { productId = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
@await Component.InvokeAsync("Pager", Model)
